header {
  background-color: #3b3b98;
  color: white;
  text-align: center;
  padding: 15px;
}

main {
  padding: 30px 20px;
  max-width: 2000px;
}

section {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

h2 {
  color: #3b3b98;
  margin-bottom: 10px;
}

details {
  background-color: #f2f2f2;
  padding: 12px;
  border-left: 4px solid #3b3b98;
  margin-bottom: 10px;
  border-radius: 4px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.image-row img {
  width: 45%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.image-row img:hover {
  transform: scale(1.3);
}

.geo-image {

  max-width: 600px;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
}

.geo-image:hover {
  transform: scale(3);
}

.buttons a {
  background-color: #3b3b98;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #575fcf;
}

footer {
  background-color: #3b3b98;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
