header {
  background-color: #3b3b98;
  color: white;
  border-radius: 100px;
  padding: 15px;
  text-align: center;
}

.welcome {
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 50px;
  padding: 40px 20px;
}

.welcome h1 {
  margin-bottom: 10px;
}

.welcome p {
  color: #333;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.info {
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.info p, .info ul {
  line-height: 1.5;
  margin-bottom: 10px;
}

.info ul {
  padding-left: 30px;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons a {
  background-color: #3b3b98;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #575fcf;
}

.map-section {
  text-align: center;
}

.map-display {
  max-width: 700px;
  border: 5px solid #575fcf;
  border-radius: 10px;
  margin-top: 15px;
}

footer {
  background-color: #3b3b98;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
}
